$colors: (
    main: #12EC6E,
    text: #126EEC,
    text_darkness: #0B4DA7,
    other: #EC1F12,
);
$white: #f6f8ff;
$white_d: #eaeaea;
$gray: #797979;
$background: (
    background: #222E50,
    transparent: rgba(0, 0, 0, 0.50),
    background-gradient: linear-gradient(#12EC6E, rgba(18,236,110,0.2))
);