@import "./constants.scss";

body {
  background: map-get($background, background-gradient);
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  background: $white;
  padding-bottom: 30px;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    .text {
      color: map-get($colors, text);
      font-size: 48px;
      font-weight: 700;
    }
    .appLogo {
      width: 80px;
      height: auto;
      margin-top: -20px;
      margin-bottom: -20px;
    }
    .underline {
      width: 61px;
      height: 6px;
      background: map-get($colors, text_darkness);
      border-radius: 9px;
    }
  }
  .inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .input {
      display: flex;
      align-items: center;
      margin: auto;
      width: 480px;
      height: 80px;
      background: $white_d;
      border-radius: 6px;
      .img {
        margin: 0 30px;
      }
      .entry {
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        color: $gray;
        font-size: 19px;
      }
      input[type="checkbox"] {
        margin-right: 10px;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: $white_d;
        border: 2px solid $gray;
        border-radius: 4px;
        &:checked {
          background-color: map-get($colors, text_darkness);
          border: none;
        }
      }
      label {
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $gray;
      }
    }
  }
  .forgot_password {
    padding-left: 62px;
    margin-top: 27px;
    color: $gray;
    font-size: 18px;
    &span {
      color: map-get($colors, text_darkness);
      cursor: pointer;
    }
    &:hover {
      span {
        color: map-get($colors, text);
      }
    }
  }
  .submit_container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 59px;
      color: #fff;
      background: map-get($colors, text);
      border-radius: 50px;
      font-size: 19px;
      font-weight: 700;
      cursor: pointer;
    }
    .gray {
      background: $white_d;
      color: #676767;
    }
  }
  .powered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    .image {
      margin-top: 10px;
      cursor: pointer;
      .logo {
        width: 50px;
        height: auto;
      }
    }
    .message {
      font-size: 14px;
      color: $gray;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-top: 5vh;
  }
  .header {
    margin-top: 5vh;
    .text {
      font-size: 6vw;
    }
    .appLogo {
      width: 8vw;
    }
  }
  .inputs {
    margin-top: 5vh;
    .input {
      width: 100%;
      .entry {
        width: 100%;
        font-size: 4vw;
      }
    }
  }
  .forgot_password {
    margin-top: 3vh;
    font-size: 4vw;
  }
  .submit_container {
    margin: 5vh auto;
    flex-direction: column;
    .submit {
      width: 100%;
      font-size: 4vw;
    }
    .gray {
      width: 100%;
      font-size: 4vw;
    }
  }
}