@import "./constants.scss";

body {
  background: map-get($background, background-gradient);
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  background: $white;
  padding: 30px;
  .header {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    .text {
      color: map-get($colors, text);
      font-size: 2rem;
      font-weight: 700;
    }
    .appLogo {
      width: 60px;
      height: auto;
      margin-top: -10px;
      margin-bottom: -10px;
    }
    .underline {
      width: 40px;
      height: 4px;
      background: map-get($colors, text_darkness);
      border-radius: 9px;
    }
  }
  .inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .input {
      display: flex;
      align-items: center;
      margin: auto;
      width: 90%;
      max-width: 480px;
      height: 60px;
      background: $white_d;
      border-radius: 6px;
      .img {
        margin-right: 20px;
        margin-left: 20px;
      }
      .entry {
        width: 100%;
        max-width: 400px;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        color: $gray;
        font-size: 16px;
      }
      input[type="checkbox"] {
        margin-right: 20px;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: $white_d;
        border: 2px solid $gray;
        border-radius: 4px;
        &:checked {
          background-color: map-get($colors, text_darkness);
          border: none;
        }
      }
      label {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $gray;
      }
    }
  }
  .forgot_password {
    text-align: center;
    margin-top: 20px;
    color: $gray;
    font-size: 14px;
    &span {
      color: map-get($colors, text_darkness);
      cursor: pointer;
    }
    &:hover {
      span {
        color: map-get($colors, text);
        cursor: pointer;
      }
    }
  }
  .submit_container {
    display: flex;
    gap: 20px;
    margin: 40px auto;
    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 50px;
      color: #fff;
      background: map-get($colors, text);
      border-radius: 50px;
      font-size: 18px;
      font-weight: 700;
      padding: 12px 0;
      cursor: pointer;
    }
    .gray {
      background: $white_d;
      color: #676767;
    }
  }
  .powered {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    .image {
      cursor: pointer;
      .logo {
        width: 40px;
        height: auto;
      }
    }
    .message {
      font-size: 12px;
      color: $gray;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-top: 5vh;
  }
  .header {
    margin-top: 5vh;
    .text {
      font-size: 1rem !important;
    }
    .appLogo {
      width: 8vw;
    }
    .underline {
      width: 10vw;
      height: 1vw;
    }
  }
  .inputs {
    margin-top: 5vh;
    .input {
      width: 100%;
      .img{
        margin: 0 3vw;
      }
      .entry {
        width: 100%;
        font-size: 3vw !important;
      }
      label{
        font-size: 3vw !important;
      }
    }
  }
  .forgot_password {
    margin-top: 3vh;
    font-size: 2vw;
  }
  .submit_container {
    margin: 2vh auto !important;
    flex-direction: column;
    .submit {
      width: 25vw !important;
      font-size: 3vw !important;
    }
    .gray {
      width: 100%;
    }
  }
}